<!DOCTYPE html><!--*- encoding: UTF-8 -*-->
<html>
 <head>
  <meta charset=UTF-8>
  <title>njslyr</title>
  <meta name="viewport" content="width=device-width">
 </head>
 <body>
  <h1>Wasshoi!</h1>
  <form action="/" method="post">
   <p>
    <input type=search name=q value="<%=q%>">
    <button>探す</button>
   </p>
  </form>
  <%records.each do |record|%>
  <article>
   <p><%=record.text%></p>
   <footer>
    <p><%=record.togetter.title%></p>
    <p><%=record.created%></p>
   </footer>
  </article>
  <%end%>
 </body>
</html>
