body {
  margin: 0;
  padding: 0 5em 2em;
  line-height: 1.8;
  background: black;
  color: #ddd;
}

:link, :visited {
  color: #99f;
}
:link:hover {
  color: #ccf;
}

h1 {
  font-family: serif;
  color: #933;
}

article, footer, p {
  margin: 0;
}
article {
  margin: 2em 0;
}

article footer {
  text-align: right;
  font-size: 80%;
}
article footer p {
  display: inline;
}

@media screen and (min-width: 641px) {
  body {
    padding: 0 5em 2em;
  }
}
@media screen and (max-width: 640px) {
  body {
    padding: 0 2em 2em;
  }
}
@media screen and (max-width: 320px) {
  body {
    padding: 0 0.2em 1em;
  }
}
